@charset "UTF-8";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F6F6;
  font-family: "Roboto", "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

.white-icon {
  color: white;
}

.grey-icon {
  color: #7E7E7E;
}

.violet-icon {
  color: #9356DC;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
  background-color: white;
}
.header .header__logo {
  width: 200px;
}

/*************** bouton like ***************/
.like-container {
  cursor: pointer;
}
.like-container i {
  font-size: 24px;
  position: absolute;
}
.like-container .i1 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.like-container .i2 {
  opacity: 0;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.like-container:hover .i1 {
  opacity: 0;
}
.like-container:hover .i2 {
  opacity: 1;
}

/*********************** footer ***********************/
.footer {
  height: 500px;
  background-color: #353535;
  height: 186px;
  color: white;
  padding: 22px 25px;
}
.footer .footer__logo {
  width: 137px;
  margin-bottom: 20px;
}
.footer .footer__listlinks {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  font-size: 16px;
}
.footer .footer__listlinks i {
  margin-right: 7px;
}
.footer .footer__listlinks a {
  color: white;
}

/********************* Responsive desktop ***********************/
@media screen and (min-width: 1075px) {
  /************** header *****************/
  .header {
    height: 96px;
  }
  /************* footer *****************/
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    height: 114px;
  }
  .footer .footer__logo {
    margin: 0;
    margin-right: 60px;
  }
  .footer .footer__listlinks {
    display: flex;
    flex-direction: row;
  }
  .footer .footer__listlinks .footer__space-li {
    margin-right: 30px;
  }
  .footer .footer__listlinks li:last-child {
    margin-right: 90px;
  }
}
/********************* Loader ***********************/
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  animation: hideLoader 3s linear 1;
  animation-fill-mode: forwards;
  /**** disparition du loader*****/
  /**** animation des points*****/
  /************/
}
@keyframes hideLoader {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader .loader__dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /** rebond des points**/
  /**délai d'animation**/
}
.loader .loader__dots-container .dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  animation: dots-anim infinite 0.3s alternate;
}
@keyframes dots-anim {
  100% {
    transform: translateY(-15px);
  }
}
.loader .loader__dots-container .d2 {
  animation-delay: 0.05s;
}
.loader .loader__dots-container .d3 {
  animation-delay: 0.1s;
}
.loader .loader__logo {
  height: 40px;
}
.loader p {
  color: white;
  font-size: 20px;
}

/****************** Localisation ***********************/
.localisation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: 0px 6px 3px -2px #BBBBBB;
}

/*********************** Banner ************************/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 287px;
  background-color: transparent;
  gap: 30px;
}
.banner .banner__h2 {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.banner .banner__p {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  margin-left: 30px;
  margin-right: 30px;
}
.banner .banner__button {
  text-align: center;
  border-radius: 50px;
  padding: 20px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
}
.banner .banner__button:hover {
  opacity: 0.75;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

/********************* fonctionnement ********************/
.fonctionnement {
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 440px;
  padding: 25px;
}
.fonctionnement .fonctionnement__main-container {
  width: 100%;
}
.fonctionnement .fonctionnement__main-container .fonctionnement__cards-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin-top: 30px;
}
.fonctionnement .fonctionnement__main-container .fonctionnement__cards-container .fonctionnement__card {
  position: relative;
  background-color: #F6F6F6;
  width: 100%;
  height: 72.38px;
  display: flex;
  justify-content: flex-start;
  padding-left: 32px;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 13px 13px -2px rgb(234, 234, 234);
  box-shadow: 0px 13px 13px -2px rgb(234, 234, 234);
}
.fonctionnement .fonctionnement__main-container .fonctionnement__cards-container .fonctionnement__card .fonctionnement__cards-badge {
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
}

/********************** Restaurants ***********************/
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-bottom: 50px;
}
.restaurants .restaurants__main-container {
  width: 100%;
}
.restaurants .restaurants__main-container .restaurants__cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}
.restaurants .restaurants__main-container .restaurants__cards-container .restaurants__card {
  position: relative;
  background-color: white;
  height: 251px;
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
}
.restaurants .restaurants__main-container .restaurants__cards-container .restaurants__card .restaurants__card-new-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  right: 15px;
  top: 15px;
  font-weight: 500;
  font-size: 14px;
}
.restaurants .restaurants__main-container .restaurants__cards-container .restaurants__card .restaurants__img-container {
  height: 180px;
  overflow: hidden;
  width: 100%;
}
.restaurants .restaurants__main-container .restaurants__cards-container .restaurants__card .restaurants__img-container .restaurants__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.restaurants .restaurants__main-container .restaurants__cards-container .restaurants__card .restaurants__cards-bottom {
  padding: 15px;
}
.restaurants h2 {
  font-weight: 700;
  font-size: 24px;
  width: 100%;
  margin-top: 20px;
}
.restaurants h3 {
  font-size: 18px;
}
.restaurants p {
  font-weight: 300;
  font-size: 17px;
}

.like-home {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}
.like-home i {
  bottom: 0;
  right: 5px;
}

/********************* Responsive ***********************/
@media screen and (min-width: 1075px) {
  /********* fonctionnement ************/
  .fonctionnement {
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 228px;
    padding: 0 180px 0 180px;
  }
  .fonctionnement .fonctionnement__main-container {
    justify-content: center;
    align-items: center;
    max-width: 1080px;
  }
  .fonctionnement .fonctionnement__main-container .fonctionnement__cards-container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  /********** Restaurants ***********/
  .restaurants {
    padding: 0 180px 0 180px;
  }
  .restaurants .restaurants__main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
  }
  .restaurants .restaurants__main-container .restaurants__cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
  .restaurants .restaurants__main-container .restaurants__cards-container .restaurants__card {
    width: 45%;
  }
}
.header {
  position: relative;
}
.header .header__arrow {
  position: absolute;
  left: 30px;
}

h2 {
  font-family: "Shrikhand", "Roboto";
  font-weight: 400;
  font-size: 28px;
}

/************* banner-menu **************/
.banner-menu {
  position: relative;
  height: 275px;
  overflow: hidden;
}
.banner-menu .banner-menu__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner-menu .banner__barre-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-menu .banner__barre-container .banner__barre {
  height: 55px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
}

/*********** menu **************/
.menu {
  background-color: white;
}
.menu .menu-container {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 0 10px 0 10px;
  gap: 30px;
}
.menu .menu-container .menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}
.menu .menu-container .menu__title h2 {
  font-size: 28px;
}
.menu .menu-container .menu__title .like-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 25px;
  width: 25px;
}
.menu .menu-container .menu__main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 1;
}
.menu .menu-container .menu__main-container .menu__categorie-name {
  position: relative;
  width: fit-content;
  margin-bottom: 5px;
}
.menu .menu-container .menu__main-container .menu__categorie-name::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  bottom: -6px;
  left: 0;
}
.menu .menu-container .menu__main-container .menu__cards-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu .menu-container .menu__main-container .menu__cards-container .menu__card {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 15px;
  height: 69px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.menu .menu-container .menu__main-container .menu__cards-container .menu__card .menu__padding {
  padding: 12px;
}
.menu .menu-container .menu__main-container .menu__cards-container .menu__card .menu__card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.menu .menu-container .menu__main-container .menu__cards-container .menu__card .menu__card-info .menu__card-name {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu-container .menu__main-container .menu__cards-container .menu__card .menu__card-info .menu__card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 15px;
}
.menu .menu-container .menu__main-container .menu__cards-container .menu__card .menu__card-price {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 15px;
}
.menu .menu-container .menu__main-container .menu__cards-container .menu__card .menu__card-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
}
.menu .menu-container .menu__main-container .menu__cards-container .menu__card .menu__card-border {
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  transition: width 0.3s ease-in-out;
  position: relative;
}
.menu .menu-container .menu__main-container .menu__cards-container .menu__card .menu__card-border i {
  position: absolute;
  top: 50%;
  left: 15px;
}
.menu .menu-container .menu__main-container .menu__cards-container .menu__card:hover .menu__card-border {
  width: 59px;
}
.menu .menu-container .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 30px;
}
.menu .menu-container .btn-container .btn__commander {
  text-align: center;
  border-radius: 50px;
  padding: 20px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
  width: 186px;
}
.menu .menu-container .btn-container .btn__commander:hover {
  opacity: 0.75;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
}
.menu .menu_entrees {
  animation: fade-in 2s ease forwards;
}
.menu .menu_plats {
  animation: fade-in 4s ease forwards;
}
.menu .menu_desserts {
  animation: fade-in 6s ease forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/********** Responsive ***********/
@media screen and (min-width: 1075px) {
  /********* menu *********/
  .menu {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu .menu__title {
    justify-content: center;
  }
  .menu .menu-container {
    width: 1055px;
    padding: 0 200px 0 200px;
  }
  .menu .menu-container .menu__title {
    justify-content: center;
  }
  /******** banner-menu ******/
  .banner-menu .banner__barre-container .banner__barre {
    width: 1055px;
  }
}

/*# sourceMappingURL=styles.css.map */
