@import 'variables';

// Composants réutilisés sur plusieurs pages différentes
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 100%;
    background-color: white;

    .header__logo {

        width: 200px;
    }
}

.footer {
    height: 500px;
    background-color: $color-darkgrey;
    height: 186px;
    color: white;
    padding: 22px 25px;

    .footer__logo {
        width: 137px;
        margin-bottom: 20px;
    }

    .footer__listlinks {
        display: flex;
        flex-direction: column;
        gap: 7px;
        list-style: none;
        font-size: 16px;

        i {
            margin-right: 7px;
        }
    }
}


/********************* Responsive desktop ***********************/

@media screen and (min-width: 1075px) {

    /************** header *****************/
    .header {
        height: 96px;
    }

    /************* footer *****************/
    .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items:flex-end;
        justify-content: flex-start;

        .footer__logo {
            margin: 0;
            margin-right: 60px;
        }

        .footer__listlinks {
            display: flex;
            flex-direction: row;

            .footer__space-li {
                margin-right: 30px;
            }

            li:last-child {
                margin-right: 90px;
            }
        }
    }

}