@mixin button-model() {
    text-align: center;
    border-radius: 50px;
    width: 218px;
    height: 50px;
    color: white;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: 0px 7px 7px -2px #BBBBBB;
    border: 0px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}