@import '../variables';

// Composants réutilisés sur plusieurs pages différentes
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 100%;
    background-color: white;

    .header__logo {

        width: 200px;
    }
}

/*************** bouton like ***************/
.like-container {
    cursor: pointer;

    i {
        font-size: 24px;
        position: absolute;
    }

    .i1 {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .i2 {
        opacity: 0;
        background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 0.3s ease-in-out;
    }
}

.like-container:hover {
    .i1 {
        opacity: 0;
    }

    .i2 {
        opacity: 1;
    }
}

/*********************** footer ***********************/
.footer {
    height: 500px;
    background-color: $color-darkgrey;
    height: 186px;
    color: white;
    padding: 22px 25px;

    .footer__logo {
        width: 137px;
        margin-bottom: 20px;
    }

    .footer__listlinks {
        display: flex;
        flex-direction: column;
        gap: 7px;
        list-style: none;
        font-size: 16px;

        i {
            margin-right: 7px;
        }

        a {
            color: white;
        }

    }
}

/********* Icon colors *****************/
.white-icon {
    color: white;
}

.grey-icon {
    color: #7E7E7E;
}

.violet-icon {
    color: $color-primary;
}


/********************* Responsive desktop ***********************/

@media screen and (min-width: 1075px) {

    /************** header *****************/
    .header {
        height: 96px;
    }

    /************* footer *****************/
    .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: flex-start;
        height: 114px;


        .footer__logo {
            margin: 0;
            margin-right: 60px;
        }

        .footer__listlinks {
            display: flex;
            flex-direction: row;

            .footer__space-li {
                margin-right: 30px;
            }

            li:last-child {
                margin-right: 90px;
            }
        }
    }

}